#history {
    background-color: lightgrey;
    padding: 10px;
}

#heading{
    font-size: 100px;
}

h1{
    text-align: center;
}

h2{
   text-align: center;
}

th{
    font-size:170%;
}

td{
    font-size:125%;
}
