<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<footer class="footer">
    <div id="allfooterS">
        <span id="belowtext">
            <br>
            <br><b>Contact information & feedback:</b><br>
            <p><a id='emailid' href="mailto:Gosavings@gmail.com">GoSavings@gmail.com</a></p>
            <br>
            180 Ang Mo Kio Avenue 8 Singapore (569830)<br>
            Nanyang Polytechnic<br>
            Financial Informatics<br>
            <br>
            <br>

        </span>

    </div>
</footer>


</body>
</html>
