<input type="checkbox" id="menuToggle">
<label for="menuToggle" id="menu-icon"  onclick="changeColor()">&#9776;</label>
<header id='headerrr'>


<button id='loggout' onclick="getInfo()">Log Out</button>
<span id='lasts'>last seen:</span>

</header>

<nav id="menu" >
	<ul>
    	<li id='haed'><a id='haed2' href="/existinguser">Home</a></li>
        <ul  style="padding-top:0px;padding-bottom:6px;" id='haed1'><a id='haed2' href="/welcome">Update Your Information</a></ul>
        <ul  style="padding-top:0px;padding-bottom:6px;" id='haed1'><a  id='haed2' href="/overview">View Your Progress</a></ul>


        <li id='haed' ><a id='haed2'href="/lshome">Life-Saving Plan</a></li>
        <ul  style="padding-top:0px;padding-bottom:6px;" id='haed1'><a id='haed2' href="/piechart">Pie Chart</a></ul>

        <li id='haed'><a id='haed2' href="/education">Education</a></li>
        <li id='haed'><a id='haed2' href="/travel">Travel</a></li>
        <li id='haed'><a id='haed2' href="/overview">Overview</a></li>

    </ul>
</nav>