{% extends 'layout.html' %}
{% block additionalscripts %}
<link rel="stylesheet" href="static/css/history.css">
<script src="static/js/history.js"></script>
  <script src="static/js/logoutnav.js"></script>
      <link rel="stylesheet" href="static/css/logoutnav.css">
{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>History</h1>
<br>
<div id="history">
  <table style="width:100%">
    <h2>Past Records:</h2>
      <br>
  <tr div="heading">
    <th>Date</th>
    <th>Base Salary</th>
    <th>Bonus</th>
    <th>Deduction</th>
    <th>Saved</th>
    <th>Spent</th>
    <th>Category(Spent)</th>
  </tr>
<br><br>
  <tr>
    <td>13 December 2017</td>
    <td>$2,000</td>
      <td>-</td>
      <td>-</td>
    <td>$1,300</td>
    <td>$700</td>
      <td>-</td>
  </tr>

  <tr>
    <td>13 November 2017</td>
    <td>$2,000</td>
      <td>-</td>
      <td>-</td>
    <td>$1,200</td>
      <td>$800</td>
      <td>-</td>
  </tr>

  <tr>
    <td>13 October 2017</td>
    <td>$2,000</td>
      <td>$500</td>
      <td>-</td>
    <td>$1,700</td>
      <td>$800</td>
      <td>-</td>
  </tr>

      <tr>
    <td>13 September 2017</td>
    <td>$2,000</td>
      <td>-</td>
      <td>-</td>
    <td>$1,200</td>
      <td>$800</td>
      <td>-</td>
  </tr>

  <tr>
    <td>13 August 2017</td>
    <td>$1,800</td>
      <td>-</td>
      <td>-</td>
    <td>$1,000</td>
      <td>$800</td>
      <td>-</td>
  </tr>

      <tr>
    <td>13 July 2017</td>
    <td>$1,800</td>
      <td>-</td>
      <td>-</td>
    <td>$1,000</td>
      <td>$800</td>
      <td>-</td>
  </tr>

         <tr>
    <td>13 June 2017</td>
    <td>$1,800</td>
      <td>$300</td>
      <td>-</td>
    <td>$1,300</td>
      <td>$800</td>
      <td>-</td>
  </tr>

</table>
        <br><br>

    </div>
<br><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
